@import "../node_modules/bootstrap/scss/functions";

$primary: rgb(2, 58, 9);
$enable-rounded: false;
// $enable-shadows: true;

$dark: rgb(255, 230, 172);
$secondary: black;

//variables and mixins
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

//custom colours
$custom-colors: (
  "my-primary-light": rgb(220, 183, 183),
  "secondary-light": rgb(50, 159, 9),
  "success": rgb(15, 170, 79),
);

//merge the colours
$theme-colors: map-merge($theme-colors, $custom-colors);

@each $color, $val in theme-colors {
  .bg-#{$color} {
    background-color: $val;
  }
  .bg-#{$color}-light {
    background-color: lighten($val, 40%);
  }
}
//bs
@import "../node_modules/bootstrap/scss/bootstrap.scss";
